body {
  background-attachment: fixed;
  background-image: url("img/background.jpg");
  background-size: cover;
  margin: 0;
  padding: 0; }

canvas {
  position: absolute;
  width: 720px;
  height: 360px;
  margin-top: 120px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: 250px;
  border: solid black 2px; }
